<app-header></app-header>
<md-sidenav-container class="sidebar">
    <md-sidenav class="sidebav__element"  mode="side" opened="true" position="end">
        <app-sidebar></app-sidebar>        
    </md-sidenav>
    <md-sidenav-container class="sidebar-two">
        <md-sidenav  #viweList class="sidebav__element"  mode="side"  position="end">
            <app-view-list></app-view-list>        
        </md-sidenav>
        <button  class="view-list" (click)="viweList.toggle();toggleState()"><md-icon class="view-list__arrow" [@arrow]="state">keyboard_arrow_left</md-icon>Посмотреть лист</button>
        <div id="map"></div>
        <add-house></add-house>
    </md-sidenav-container>
</md-sidenav-container>
