.profile {
    margin-top: 2px;
    &__ava {
        width: 80px;
        height: 80px;
        background-image: url('../../assets/ava.png');
        background-size: cover;
    }
    &__name {
        font-size: 20px;
    }
    &__view {
        width: 168px;
        // outline: none;
        // background: none;
        // border: none;
        position: absolute;
        top: 81px;
        left: 101px;
    }
  }
  md-slider {
      width: 100%;
  }