<md-card class="profile">
    <md-card-header>
      <div class="profile__ava" md-card-avatar></div>
      <md-card-title class="profile__name">Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
      <button class="profile__view">Посмотреть профиль ></button>
    </md-card-header>
  </md-card>
  <md-card class="config">
    <md-card-content>
        <md-slider thumbLabel tickInterval="1"></md-slider>
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>

